/* Mobile First to Table*/
@media screen and (min-width: 768px) {
    
    /* introduzione */
    #introduction-app .row {
        justify-content: space-between;
    }

    #introduction-app .col-lg {
        width: calc(((100% - 60px) / 3) * 2 + 30px);
    }

    #introduction-app .col-md {
        width: calc((100% - 60px) / 3);
    }

    #introduction-app .card-img {
        text-align: left;
    }

    /* pianificazione */
    #planning .col-md:first-child h5 {
        font-size: 50px;
    }

    /* testimonials */
    #testimonials .row-int {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    #testimonials .card-profile {
        text-align: left;
    }

    #testimonials .card-profile .col-int-left {
        margin-right: 40px;
    }

    #testimonials .card-profile .img, #testimonials .card-profile .second-img, #testimonials .card-profile .third-img {
        margin-bottom: 0px;
    }

    /* Benefits */
    #benefits .row {
        justify-content: space-between;
    }

    #benefits .col-md {
        width: calc((100% - 30px) / 2);
    }

    /* About Us */
    #about-us .row {
        flex-direction: row;
    }

    #about-us .col-lg {
        margin-right: 20px;
    }

    #about-us .col-md {
        width: 300px;
    }
}

/* Mobile First to Desktop*/

@media screen and (min-width: 992px) {
    /* header */
    header .card-dropdown .hamburger {
        display: none;
    }

    header .dropdown-content {
        position: static;
        opacity: 1;
        display: flex;
        align-items: center;
        width: auto;
        padding: 0;
    }

    header .card-dropdown:hover .dropdown-content {
        transform: none;
    }

    header .dropdown-content li {
        margin: 0 10px;
    }

    header .dropdown-content li:last-child {
        margin-right: 0px;
    }

    header .dropdown-content .button-link {
        margin: 0;
    }

    /* introduzione app */
    #introduction-app .row-int {
        display: flex;
        flex-direction: row;
    }

    #introduction-app .col-md-int {
        width: 50%;
    }

    #introduction-app .col-md-int:last-child {
        padding-left: 50px;
        transform: translateY(54px);
    }

    /* planning */
    #planning .row {
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-end;
    }

    #planning .col-md{
        width: 40%;
    }

    #planning .col-md:last-child img {
        width: 65%;
        margin-bottom: 20px;
    }

    #planning .col-md:first-child img {
        margin-bottom: 100px;
    }
    
    #planning .col-md:first-child h5 {
        font-size: 30px;
    }

    /* Benefits */
    #benefits .col-md {
        width: calc((100% - 60px) / 3);
    }

    /* Free-try */
    #free-try .card h2 {
        font-size: 60px;
    }
}

/* solo col-md-int con img nell'introduzione */
@media screen and (min-width: 992px) and (max-width: 1030px) {
    #introduction-app .col-md-int:last-child {
        transform: translateY(110px);
    }
}

@media screen and (min-width: 1031px) and (max-width: 1144px) {
    #introduction-app .col-md-int:last-child {
        transform: translateY(82px);
    }
}
/* fine parte col-md-int img */