* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.row {
    display: flex;
    flex-direction: row;
}

.font-title-sm {
    font-size: 20px;
}

.font-title-xs {
    font-size: 17px;
}

.color-white {
    color: white;
}

.color-violet {
    color: #9792e4;
}

p {
    line-height: 2em;
}

/* Testa della pagina */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .container {
    height: 100%;
    padding-right: 0;
}

header .row {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

header .col-md {
    width: 50%;
    display: flex;
    align-items: center;
}

header .col-right {
    justify-content: flex-end;
}

header .card-dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 25px;
}

header .card-dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
}

header .dropdown-content {
    position: absolute;
    top: 100%;
    right: -5%;
    background-color: #0084fd;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
}

header .dropdown-content a {
    text-decoration-line: none;
    display: block;
    padding: 5px 10px;
}

header .dropdown-content .button-link {
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px;
}

header .fa-bars {
    font-size: 25px;
}

/* corpo della pagina */

/* introduzione app */

#introduction-app {
    padding-top: 100px;
    padding-bottom: 50px;
}

#introduction-app .row {
    flex-wrap: wrap;
}

#introduction-app .col-lg, #introduction-app .col-md{
    width: 100%;
    background-color: #b5ddff;
    padding: 30px 20px;
    margin: 15px 0;
    border-radius: 20px;
}

/* colonna larga */
#introduction-app .card-img {
    text-align: center;
}

#introduction-app img {
    width: 250px;
    margin-bottom: -34px;
}

#introduction-app h6 {
    color: #0084fd;
    margin-bottom: 30px;
}

#introduction-app p {
    color: #5a6e7f;
    font-weight: 600;
    font-size: 14px;
}

#introduction-app .description-img p {
    margin-bottom: 30px;
}

#introduction-app .description-img a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration-line: none;
    border-radius: 20px;
    background-color: #0084fd;
    font-weight: 600;
    margin-bottom: 30px;
}

/* colonna media */
#introduction-app .card-features {
    text-align: center;
}

#introduction-app .card-features i {
    font-size: 80px;
    color: #0084fd;
    margin-bottom: 30px;
}

#introduction-app .card-features h6 {
    margin-bottom: 30px;
}
/* fine introduzione app */

/* pianificazione */
#planning {
    padding: 50px 0;
    background-color: #9593e6;
}

#planning .row {
    flex-wrap: wrap;
}

#planning .col-md{
    width: 100%;
    padding: 0 20px;
}

#planning .col-md:first-child {
    margin-bottom: 30px;
}

#planning .col-md img {
    width: 100%;
    margin-bottom: 50px;
}

#planning .col-md h5 {
    font-size: 30px;
    margin-bottom: 30px;
}

#planning .col-md p {
    font-size: 14px;
}

#planning .col-md .card-development {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

#planning .card-development p {
    margin-bottom: 30px;
    font-style: italic;
}

#planning .card-development i {
    padding: 20px;
    border-radius: 50%;
    background-color: #9593e6;
}

/* testimonials */
#testimonials {
    padding-top: 50px;
    padding-bottom: 40px;
}

#testimonials .row {
    flex-direction: column;
}

#testimonials .col-xl:first-child {
    background-color: white;
    padding: 0;
    border-radius: 0;
}

#testimonials .col-xl {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #9792e4;
    border-radius: 50px;
}

#testimonials .card-title {
    text-align: center;
}

#testimonials .card-title div {
    margin-bottom: 30px;
}

#testimonials .card-title h5 {
    font-size: 30px;
    margin-bottom: 30px;
}

#testimonials .card-profile {
    text-align: center;
}

#testimonials .card-profile p {
    margin-bottom: 20px;
}

.img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#testimonials .card-profile .img {
    background-image: url("../img/testimonial1.jpg");
    margin-bottom: 20px;
}

#testimonials .card-profile .second-img {
    background-image: url(../img/testimonial2.jpg);
    margin-bottom: 20px;
}

#testimonials .card-profile .third-img {
    background-image: url(../img/testimonial3.jpg);
    margin-bottom: 20px;
}

#testimonials .card-profile .fa-quote-right, #testimonials .card-profile .fa-quote-left {
    font-size: 20px;
}

/* Benefits */
#benefits {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #9792e4;
}

#benefits .row:first-child {
    margin-bottom: 30px;
}

#benefits .row {
    flex-wrap: wrap;
}

#benefits .col-xl {
    width: 100%;
    text-align: center;
}

#benefits .col-md {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin: 15px 0;
}

#benefits h4 {
    font-size: 40px;
    margin-bottom: 20px;
}

#benefits h5 {
    font-size: 30px;
}

#benefits h6 {
    margin-bottom: 20px;
}

#benefits p {
    margin-bottom: 20px;
}

#benefits a {
    display: inline-block;
    padding: 10px 40px;
    text-decoration-line: none;
    font-weight: 600;
    border-radius: 20px;
    background-color: #9792e4;
}

/* About Us */
#about-us {
    padding-top: 50px;
    padding-bottom: 40px;
}

#about-us .row {
    flex-direction: column;
}

#about-us .col-lg, #about-us .col-md {
    width: 100%;
    padding: 20px;
}

#about-us h3 {
    font-size: 40px;
    margin-bottom: 40px;
}

#about-us .card-left p:first-of-type {
    margin-bottom: 40px;
}

#about-us .img {
    background-image: url("../img/about.jpg");
    position: relative;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

#about-us .img .fa-quote-left {
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

#about-us .card-right h4 {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

#about-us .card-right a {
    text-decoration-line: none;
    display: inline-block;
    padding: 10px;
    background-color: #9792e4;
    border-radius: 20px;
}

#about-us .card-right .fa-linkedin {
    margin-right: 10px;
}

/* Free Try */
#free-try {
    padding: 50px 0;
    background-color: #9792e4;
}

#free-try .col-xl {
    width: 100%;
}

#free-try .card {
    text-align: center;
}

#free-try .card div:first-child {
    color: #cbc9f1;
    margin-bottom: 20px;
}

#free-try .card h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

#free-try .card h2 {
    font-size: 50px;
    color: #fdc15f;
    margin-bottom: 30px;
}

#free-try .card p {
    margin-bottom: 20px;
}

#free-try .card > a {
    display: inline-block;
    padding: 20px 70px;
    background-color: white;
    text-decoration-line: none;
    border-radius: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

#free-try .card div:last-child {
    line-height: 1.3em;
    font-size: 14px;
}

#free-try .card i {
    font-size: 5px;
    vertical-align: middle;
}

/* fondo della pagina */
footer {
    padding: 50px 0;
    background-color: #333333;
    font-size: 14px;
}

footer .card {
    text-align: center;
}

footer .card p {
    line-height: 1em;
    margin-bottom: 70px;
}




