* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.row {
    display: flex;
    flex-direction: row;
}

.font-title-sm {
    font-size: 20px;
}

.color-white {
    color: white;
}

/* Testa della pagina */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .container {
    height: 100%;
    padding-right: 0;
}

header .row {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

header .col-md {
    width: 50%;
    display: flex;
    align-items: center;
}

header .col-right {
    justify-content: flex-end;
}

header .card-dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 25px;
}

header .card-dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
}

header .dropdown-content {
    position: absolute;
    top: 100%;
    right: -5%;
    background-color: #0084fd;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
}

header .dropdown-content a {
    text-decoration-line: none;
    display: block;
    padding: 5px 10px;
}

header .dropdown-content .button-link {
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px;
}

header .fa-bars {
    font-size: 25px;
}

/* corpo della pagina */

/* introduzione app */

#introduction-app {
    padding-top: 100px;
    padding-bottom: 50px;
}

#introduction-app .row {
    flex-wrap: wrap;
}

#introduction-app .col-lg, #introduction-app .col-md{
    width: 100%;
    background-color: #b5ddff;
    padding: 30px 20px;
    margin: 15px 0;
    border-radius: 20px;
}

/* colonna larga */
#introduction-app .card-img {
    text-align: center;
}

#introduction-app img {
    width: 250px;
    margin-bottom: -34px;
}

#introduction-app h6 {
    color: #0084fd;
    margin-bottom: 30px;
}

#introduction-app p {
    line-height: 2em;
    color: #5a6e7f;
    font-weight: 600;
    font-size: 14px;
}

#introduction-app .description-img p {
    margin-bottom: 30px;
}

#introduction-app .description-img a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration-line: none;
    border-radius: 20px;
    background-color: #0084fd;
    font-weight: 600;
    margin-bottom: 30px;
}

/* colonna media */
#introduction-app .card-features {
    text-align: center;
}

#introduction-app .card-features i {
    font-size: 80px;
    color: #0084fd;
    margin-bottom: 30px;
}

#introduction-app .card-features h6 {
    margin-bottom: 30px;
}

/* pianificazione */
#planning .container {
    background-color: #9593e6;
    padding: 50px 0;
}

#planning .row {
    flex-wrap: wrap;
}

#planning .col-md{
    width: 100%;
    padding: 0 20px;
}

#planning .col-md:first-child {
    margin-bottom: 30px;
}

#planning .col-md img {
    width: 100%;
    margin-bottom: 50px;
}

#planning .col-md h5 {
    font-size: 30px;
    margin-bottom: 30px;
}

#planning .col-md p {
    line-height: 2em;
}

#planning .col-md .card-development {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

#planning .card-development p {
    margin-bottom: 30px;
}

#planning .card-development i {
    padding: 20px;
    border-radius: 50%;
    background-color: #9593e6;
}

